<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Category\View">
        <plugin name="ivandotsenkotest_task1_category_view_plugin" type="IvanDotsenkoTest\Task1\Plugin\Block\CategoryViewPlugin" sortOrder="10"/>
    </type>
</config>
